@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.envelope {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.envelope h1 {
  color: #146b3a;
  padding: 0.2em 0.8em;
  font-size: 1.6rem;
  line-height: 1.5;
}

ul {
  padding: 1em;
}

ul li {
  list-style: none;
  padding: 0.4em 0em;
}

ul li a {
  text-decoration: none;
  font-size: 1.35rem;
  color: #3f3fcd;
}
